<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Korea200-recordPage</title>
	<link rel="stylesheet" href="./mainStyle.css" type="text/css">
	<link rel="stylesheet" href="./subStyle.css" type="text/css">
	<link rel="stylesheet" href="./tableStyle.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">
	<script src='./userInputUtil.js' defer></script>
</head>

<body class="subBackground">
	<%- header %>
	<h1 class="subtitle">Saved</h1>
	<div class="dataContainer">
		<%- table %>
	</div>
</body>
